body {
    color: black;
    font-size: 1.5em;
    background: orange;
    text-shadow: 2px 2px #50FFFF
}

h1 {
    color: red;
    font-family: "Times New Roman", Times, Serif;
}

h3 {
    color: red;
    font-size: 0.5em;
}

a {
    color: yellow;
    text-shadow: 3px 3px #505050;
}

p {
    color: red;
    font-family: "Comic Sans MS", cursive, sans-serif;
}